@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

-body {
  background-color: #f0f8ff;
  font-family: "Lexend", sans-serif;
  color: #333;
}

form {
  background-color: #39a9db;
  padding: 20px;
  border-radius: 10px;
}

main {
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
  background-color: rgb(64, 188, 216);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #1c77c3;
}
