@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

-body {
  background-color: #f0f8ff;
  font-family: "Roboto", sans-serif;
  color: #333;
}

form {
  background-color: #74607c;
  padding: 20px;
  border-radius: 10px;
}

main {
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
  background-color: rgba(139, 84, 143, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #937895;
}
